<div class="collab-modal">
    <div class="modal-content">
        <div class="closeC">+</div>
        <h3>Add a New Collaborator</h3>
        <form action="" method="POST">
            <h5>Enter Username or E-mail:</h5>
            <input class="input" type="text" placeholder="Enter Here" name="">
            <button class="createProjectButton"><span>Add </span></button>
        </form>
    </div>
</div>