<div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <h3>Create a New Project</h3>
        <form action="/create-project" method="POST">
            <h5>Project Name:</h5>
            <input class="input" type="text" placeholder="Title" name="title">
            <h5>Project Description:</h5>
            <input class="input" type="text" placeholder="Description" name="description">
            <input type="hidden" value="" name="imageURL">
            <button class="createProjectButton"><span>Create </span></button>
        </form>
    </div>
</div>