  <div class="action">
    <div class="profile" onclick="menuToggle()">
      <img src="{{image}}"/>
    </div>
      <div class="soMenu">
        <h3>{{user}}</h3>
        <ul>
          <li><i class='bx bx-user-circle material-icons icons-size'></i><a>My Profile</a></li>
          <li><i class='bx bx-log-out material-icons icons-size'></i><a href="/logout">Logout</a></li>
        </ul>
      </div>
  </div>