      <div class="action">
        <div class="profile">
        </div>
        <div class="soMenu">
          <h3>{{user}}</h3>
          <ul>
            <a><li><i class='bx bx-user-circle'></i>My Profile</li></a>
            <a href='/logout'><li><i class='bx bx-log-out'></i>Logout</li></a>
          </ul>
        </div>
      </div>