<nav>

  <div class="menu-icon">
    <span class="fas fa-bars"></span>
  </div>

  <div class="logo">
    <a href="/home" class="linkStyle"><h1 class="projectied"><i class="fa-solid fa-person-chalkboard"></i>rojectied</h1></a>
  </div>

  <div class="nav-items">
    <li><a href="/home" class="linkStyle">Home</a></li>
    <li><a href="https://github.com/agp745/projectied" class="linkStyle">About Us</a></li>
    <li><a href="#" class="linkStyle">Contact Us</a></li>
  </div>

  <div class="cancel-icon">
    <span class="fas fa-times"></span>
  </div>

</nav>