<nav>

  <div class="menu-icon">
    <span class="fas fa-bars"></span>
  </div>

  <div class="logo">
    <h1><i class="fa-solid fa-person-chalkboard"></i>rojectied</h1>
  </div>

  <div class="nav-items">
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
  </div>

  <div class="search-icon">
    <span class="fas fa-search"></span>
  </div>

  <div class="cancel-icon">
    <span class="fas fa-times"></span>
  </div>

  <form action="#">
    <input type="search" class="search-data" placeholder="Search" required>
    <button type="submit" class="fas fa-search"></button>
  </form>
  
</nav>           