<nav class="navbar navbar-expand-lg bg-body-tertiary" style="z-index: 999">
  <div class="container-fluid">
  <div id="navbar">
  <a href="#" class="menu-bars" id="show-menu">
    <i class="fas fa-bars"></i>
  </a>
  </div>
      <a class="navbar-brand" href="#"><h1><i class="fa-solid fa-person-chalkboard"></i>rojectied</h1></a>
  <nav id="nav-menu">
    <ul class="nav-menu-items">
      <div id="navbar-toggle">
        <a href="#" class="menu-bars" id="hide-menu">
          <i class="fas fa-bars nav-icon"></i>
        </a>
        <a href="#"><h3><i class="fa-solid fa-person-chalkboard" id="projectied-logo"></i>rojectied</h3></a>
      </div>
      <hr />
      <div class="nav-section">
        <li class="nav-text"><a href="/home"><i class="fas fa-home nav-icon"></i>Home</a></li>
        <li class="nav-text"><a href="/projects"><i class="fas fa-hammer nav-icon"></i>Projects</a></li>
        <li class="nav-text"><a href="#"><i class="fas fa-people-group nav-icon"></i>Collaborators</a></li>
      </div>
      <hr />
    </ul>
</nav>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
