<div class="show-collab-modal">
    <div class="modal-show-collab">
        <div class="closeS">+</div>
        <h3>Collaborators</h3>
    <div class="collabList">
        <img src="" alt="">
        <h5>Name</h5>
    </div>
    </div>
</div>