<div class="show-collab-modal">
    <div class="modal-show-collab">
        <div class="closeS">+</div>
        <h3>Collaborators</h3>
    <div class="collabList">
    {{#collaborators}}
        <img src="{{image}}" alt="">
        <h5>{{user}}</h5>
    {{/collaborators}}
    </div>
    </div>
</div>