<div class="side-bar">

  <div class="logo-name-wrapper">
    <button class="logo-name__button">
      <i
        class="bx bx-arrow-from-right logo-name__icon"
        id="logo-name__icon"
      ></i>
    </button>
  </div>

  <ul class="features-list">
    <a class="linkStyle"><li class="features-item inbox active" onclick="createPform()">
      <i class='bx bxs-wrench features-item-icon'></i>
      <span class="features-item-text">New Project</span>
    </li></a>
    <a class="linkStyle"><li class="features-item draft" onclick="addCollabForm()">
      <i class="bx bxs-user-plus features-item-icon"></i>
      <span class="features-item-text">Add Collaborator</span>
    </li></a>
    <a class="linkStyle"><li class="features-item star" onclick="showCollabForm()">
      <i class="bx bxs-user-detail features-item-icon"></i>
      <span class="features-item-text">Show Collaborators</span>
    </li></a>
  </ul>
</div>
