<div class="side-bar">

  <div class="logo-name-wrapper">
    <button class="logo-name__button">
      <i
        class="bx bx-arrow-from-right logo-name__icon"
        id="logo-name__icon"
      ></i>
    </button>
  </div>

  <ul class="features-list">
    <a href="/create-project" class="linkStyle"><li class="features-item inbox active">
      <i class='bx bx-wrench features-item-icon'></i>
      <span class="features-item-text">New Project</span>
    </li></a>
    <li class="features-item draft">
      <i class="bx bxs-user-detail features-item-icon"></i>
      <span class="features-item-text">Collaborators</span>
    </li>
    <li class="features-item star">
      <i class="bx bx-star features-item-icon"></i>
      <span class="features-item-text">Starred</span>
    </li>
  </ul>
</div>
