<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/backImg.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Projectied</title>
    <link rel="icon" type="image/x-icon" href="icon/logo.ico.svg">
</head>
<body>

    {{> menu}}
    <div id="imageURL" style="display: none">{{imageURL}}</div>
    <div id="projectId" style="display: none">{{project_id}}</div>

    <div class="content">
        {{> sidebar}}
        <section class="project-meta">
            <div class="project-title">{{title}}</div>
            <div class="project-description">{{description}}</div>
            <div class="project-admin">{{admin}}</div>
        </section>

        <section class="main">

            <div class="addTask">
                <form action="/project/todo/{{project_id}}" method="post">
                    <input type="text" placeholder="text" name="text">
                    <input type="hidden" name="id" value={{project_id}}>
                    <button>Submit</button>
                </form>
            </div>
        
            <div class="todo status">
                <div class="status-title">Todo</div>
                <div id="todoList" class="items"></div>
            </div>

            <div class="active status">
                <div class="status-title">Active</div>
                <div id="activeList" class="items"></div>
            </div>

            <div class="completed status">
                <div class="status-title">Completed</div>
                <div id="completedList" class="items"></div>
            </div>
        
        </section>
    </div>

    {{> logout-dropdown}}
    {{> create-project}}

    <script src="/js/menu.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/backImg.js"></script>
    <script src="/js/api.js"></script>
    <script src="https://kit.fontawesome.com/b72e7f232b.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
</body>
</html>