<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/home">home</a>
    <a href="/projects">projects</a>
    <br>
    <br>
    {{title}}-{{description}}
    <br>
    <img src="{{imageURL}}">

    <script src="/js/imageGenerator.js"></script>
</body>
</html>