body {
    overflow-y: hidden;
}

.content {
    /* margin-left: 16rem;  */
    display: flex;
    /* margin-top: 80px; */
    background-color: aqua;
    overflow-y: hidden;
}

.newProject {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 80px;
    margin-left: 3rem;
}

.projectsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 80px;
    margin-left: 3rem;
}

.projectsWrapper > :nth-child(1),
.projectsWrapper > :nth-child(2) {
    width: 100%;
    text-align: center;
}

#project {
    transition: transform 0.3s ease-in-out;
}

#project:hover {
    transform: scale(1.1);
}

#projectImg {
    width: 10rem;
    height: 6rem;
    object-fit: cover;
}
