body {
    overflow-y: hidden;
}

.content {
    display: flex;
    background-color: rgba(236, 242, 243, 0.315);
    overflow-y: hidden;
}

.create-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 80px 2rem 0 2rem;
    overflow: hidden;
    align-items: center;
    background-color: rgba(65, 46, 194, 0.8);
    padding: 6rem;
}

.create-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-meta {
    align-items: left;
    margin-top: 5rem;
    margin-left: 1rem;
}

.project-title {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
}

.project-description {
    font-size: 1.4rem;
}

.project-admin {
    font-style: italic;
    font-size: 1.2rem;
}

.main {
    display: flex;
    gap: 3rem;
    margin-top: 12rem;
}

.status {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 10rem;
}

.status-title {
    text-align: center;
}

.icons-size {
    color: #333;
    font-size: 14px;
}

.action {
    position: fixed;
    right: 40px;
    top: 15px;
}

.action .profile {
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    overflow: hidden;
    position: relative;
}

.action .profile img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.action .soMenu {
    background-color: #fff;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    right: -20px;
    width: 200px;
    top: 120px;
    visibility: hidden;
}

.action .soMenu.active {
    opacity: 1;
    top: 55px;
    visibility: visible;
}

.action .soMenu::before {
    background-color: #fff;
    content: "";
    height: 20px;
    position: absolute;
    right: 30px;
    transform: rotate(45deg);
    top: -5px;
    width: 20px;
}

.action .soMenu h3 {
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
}

.action .soMenu ul li {
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}

.action .soMenu ul li i {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
}

.action .soMenu ul li a {
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.action .soMenu ul li:hover i {
    opacity: 1;
}

.action .soMenu ul li:hover a {
    color: aquamarine;
    cursor: pointer;
}
