@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap');

:root {
    --white-color: #fafafb;
    --background-color: #17171e;
    --grey-color: #b5b5be;
    --dark-grey-color: #292932;
}

/* Create project popup modal */
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 5px 5px 20px 5px;
    position: relative;
}

.modal-content h3 {
    color: #fff;
    background-color: #292932;
    border-radius: 4px;
}

.input {
    width: 50%;
    display: block;
    margin: 15px auto;
    border-radius: 4px;
}

.input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
}

.close {
    position: absolute;
    top: -9px;
    right: 12px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    color: #fff;
}

.createProjectButton {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 100px;
    height: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}

.createProjectButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-align: center;
    bottom: 10px;
}

.createProjectButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.createProjectButton:hover span {
    padding-right: 25px;
}
  
.createProjectButton:hover span:after {
    opacity: 1;
    right: 0;
}






/* Sidebar */
.side-bar {
    width: 15rem;
    height: 100vh;
    padding: 2.1rem 1.2rem;
    background-color: rgba(23, 28, 36, 0.8);
    /* position: fixed; */
    transition: all 0.5s ease;
    top: 0;
    margin-top: 70px;
}

.logo-name-wrapper {
    position: relative;
    margin-bottom: 2.1rem;
    display: flex;
    font-size: 1.2rem;
}

.logo-name {
    display: flex;
    align-items: center;
}

.logo-name__name {
    margin-left: 0.9rem;
    white-space: nowrap;
}

.logo-name__button {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.8rem;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo-name__icon {
    font-size: 1.8rem;
    color: var(--grey-color);
}

.accountCard {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #292932;
    list-style: none;
}

.accountItem {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0.9rem;
    color: var(--grey-color);
    cursor: pointer;
    transition: 0.5 ease;
}

.accountItem::before {
    transition: 0.5s ease;
    content: "";
    position: absolute;
    left: -1.2rem;
    height: 100%;
    border-left: 3px solid var(--white-color);
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
}

.accountItem:hover {
    color: var(--white-color);
    transition: 0.5s ease;
}

.accountItem:hover::before{
    opacity: 1;
    visibility: unset;
}

.accountAvatarIcon {
    width: 2.5rem;
    border-radius: 50%;
    margin-left: -5px;
}

.accountName {
    margin-left: 1.5rem;
    transition: opacity 0.6s ease;
    opacity: 1;
}

.features-list {
    padding-bottom: 37rem;
    border-bottom: 1px solid #292932;
    list-style: none;
}

.features-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0.9rem;
    margin-bottom: 1.1rem;
    color: var(--grey-color);
    cursor: pointer;
    transition: 0.5s ease;
}

.features-item::before {
    transition: 0.5s ease;
    content: "";
    position: absolute;
    left: -1.2rem;
    height: 100%;
    border-left: 3px solid var(--white-color);
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
}

.features-item:hover {
    color: var(--white-color);
    transition: 0.5s ease;
}

.features-item:hover::before {
    opacity: 1;
    visibility: unset;
}

.features-item-icon {
    font-size: 2rem;
}

.features-item-text {
    margin-left: 1.5rem;
    transition: opacity 0.6s ease;
    opacity: 1;
}

.inbox-icon {
    position: relative;
}

.side-bar.collapse .message:hover .tooltip,
.accountItem:hover .tooltip,
.features-item:hover .tooltip,
.category-item:hover .tooltip,
.chat-new-btn:hover .tooltip {
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    opacity: 1;
}

.side-bar.collapse {
    width: 6rem;
}

.side-bar.collapse .tooltip {
    display: block;
}

.side-bar.collapse .accountName,
.side-bar.collapse .logo-name,
.side-bar.collapse .category-header,
.side-bar.collapse .chat-header,
.side-bar.collapse .chat-new-btn-text,
.side-bar.collapse .features-item-text,
.side-bar.collapse .inbox-number,
.side-bar.collapse .category-item-text,
.side-bar.collapse .category-item-number,
.side-bar.collapse .message-text,
.side-bar.collapse .chat-item-name,
.side-bar.collapse .chat-item-number,
.side-bar.collapse .chat-item-status {
    opacity: 0;
    pointer-events: none;
}

.side-bar.collapse .message-text {
    opacity: 0;
    pointer-events: none;
    transform: translateX(0);
}

.side-bar.collapse .message-icon {
    transform: translateX(0);
}

.side-bar.collapse .logo-name__button {
    right: 0.5rem;
}

.side-bar.collapse .inbox-icon .status,
.side-bar.collapse .chat-item-avatar-wrapper::before {
    opacity: 1;
}
